<!doctype html> 
<html>
<head>
    <title>Welcome to Chitter 2015</title>
  </head>

<section style="float: left;">

  <form action='/sign_up' method='post'>

    <h1>Sign up</h1>

    Fullname: <input type="text"  id="name" name="fullname">
    Username: <input type="text"  id="name" name="username">
    Email: <input type="email" id="mail" name="email">
    Password: <input type="password"  id="password" name="password">
    Password Confirmation:  <input type="password"  id="password_confirmation" name="password_confirmation">

    <button  type="submit" name="Sign in">Sign in</button>

  </form>

</section>

<section style="float: right;">


  <form action='/sessions' method='post'>

    <h1>Sign in</h1>

    Username: <input type="text"  id="name" name="username_sign_in">
    Password: <input type="password" id="mail" name="password_sign_in">

    <button  type="submit" name="Sign_in">Please enter</button>

  </form>
</section>
</html>