<!doctype html>
<html>

  <head>
    <title>Welcome to Chitter 2015</title>
  </head>

<body>

    <link rel="stylesheet" type="text/css" href="/stylesheets/application.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css">
    
  <%= yield %>

</body>

</html>